@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --Blue: #345FF6;
  --Gunmetal: #253347;
  --DarkElectricBlue: #5E6E85;
  --Border: #D8E2E7;
  --PureWhite: #FFFFFF;

  /* Font Family */
  --Regular: 400;
  --SemiBold: 600;

  /* Font Size */
  --HeadingXL: 64px;
  --HeadingL: 48px;
  --HeadingM: 24px;
  --HeadingS: 20px;

  --BodyM: 16px;
  --BodyS: 14px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}