@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --Blue: #345FF6;
  --Gunmetal: #253347;
  --DarkElectricBlue: #5E6E85;
  --Border: #D8E2E7;
  --PureWhite: #FFFFFF;

  /* Font Family */
  --Regular: 400;
  --SemiBold: 600;

  /* Font Size */
  --HeadingXL: 64px;
  --HeadingL: 48px;
  --HeadingM: 24px;
  --HeadingS: 20px;

  --BodyM: 16px;
  --BodyS: 14px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro {
  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  height: 640px;
  width: 100%;
  border-radius: 0px 0px 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro img {
  width: 40px;
  height: 40px;
}
.intro-form {
  background-color: var(--PureWhite);
  border-radius:16px;
  box-shadow: 16px 32px 56px #90afd040;
  display: flex;
  flex-direction: column;
  gap:32px;
  /*position: absolute;*/
  /*top:380px;*/
}

.radio-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.metric-radio {
  flex-grow: 1;
  display: flex;
  gap: 24px;
  align-items: center;
}

.metric-radio input[type="radio"] {
  appearance: none;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #D8E2E7;
  cursor: pointer;
}
.metric-radio label {
  color:var(--Gunmetal)
}

.metric-radio input[type=radio]:checked {
  width: 15px;
  height: 15px;
  background: var(--Blue);
  border: 1px solid var(--Blue);
  box-shadow: 0 0 0 8px #e1e7fe;
  margin: 0 6.5px 0 9.5px;
}

.metric-text-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--BodyS);
  position:relative;
}
#textKG, #textCM{
  position: absolute;
  top: 55px;
  right:35px;
  font-size: var(--HeadingM);
  color: #345ff6;
  font-weight: 600;
}
input[type="text"] {
  font-weight: var(--Regular);
  height: 69px;
  max-width: 238px;
  letter-spacing: -0.05em;
  font-size: var(--HeadingM);
  border: 1px solid var(--Border);
  border-radius: 12px;
  padding: 20px 24px;
  font-weight: 600;
}
input:hover {
  cursor: pointer;
}

.welcome-container {
  background: linear-gradient(90deg,#345FF7 0%,#587DFF 100%);
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explanation {
  margin-top:450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.healthy-living-style {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(290.1deg,rgba(214,230,254,.25) 0%,rgba(214,252,254,0) 100%);
}
.living-style-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.living-style-item img {
  width: 64px;
  height: 64px;
}

.limitation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.limitation-intro {
  display: flex;
  flex-direction: column;
  gap:32px;
}

.limitation-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.limitation-item {
  padding: 24px;
  width: 100%;
  box-shadow: 16px 32px 56px #90afd040;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background: var(--PureWhite);
  gap: 32px;
}

.limitation-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
/* Medium devices (landscape tablets, 768px - 1280) */
@media only screen and (min-width: 768px) and (max-width: 1280px){
  .explanation {
    margin-top:15rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    align-items: end;
  }
  .explanation img[alt="man-eating-food"] {
    width:56%;
  }
  .bmi-explanation h2 {
    margin-bottom: 1rem;
  }
  .bmi-explanation p {
    font-size: medium;
  }

  .limitation-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 24px;
    flex-wrap: wrap;
  }
  .limitation-item {
    width: 45%;
  }
}